body
	margin:0
	padding:0
#ContainerUp
	min-height:44px
	max-height:44px
	background-color:#949494
#ContainerDown
	min-height:44px
	max-height:44px
	background-color:#949494
#BreakHeaderHolder
	width:95%
	min-height:90px
	margin-left:auto
	margin-right:auto
#BreakHeaderLeft
	width: 40%
	float: left
	p
		margin-top:-2px
		display:inline
	img
		width:40px
	h2
		margin-top:10px
#BreakHeaderRight
	width: 60%
	text-align:right
	float:right
	ul
		margin-top:-10px
#BreakContent
	width:99%
	margin-left:auto
	margin-right:auto
	img
		margin-top:-20px
	
#BreakFooter
	width:100%
	p
		margin-top:0px
		line-height:18px
	ul
		margin-left:-40px
		margin-top:-10px
	li
		padding-right:10px
.PlaceDots
	float:right
	margin-top:-20px
.red
	color:red
p
	line-height:8px
ul
	list-style:none
li
	display:inline
#DivLi
	max-height:20px
	overflow:hidden
