extend layout
block contents
	for break_ in breaks
		p= break_._id + " " + break_.headline + " " + break_.user + " " + break_.score + " " + break_.comments[0].comment
		form(name="input1", action="/breaks/vote", method="post")
			input(type="hidden", name="breakId", value=break_._id)
			input(type="hidden", name="which", value="up")
			input(type="submit", value="Upvote")
		form(name="input2", action="/breaks/vote", method="post")
			input(type="hidden", name="breakId", value=break_._id)
			input(type="hidden", name="which", value="down")
			input(type="submit", value="Downvote")