!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/public/css/mediaInt.css')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		block scripts
			script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js')
			script(type='text/javascript', src='../public/js/libs/underscore-min.js')
			script(type='text/javascript', src='../public/js/libs/backbone-min.js')
	body
		block contents
		block footerscripts
