extend layout
block contents
	if newUser == 'true'
		p New User Created Successfully
	br
	form(name="input", action="/media/loginAs", method="post")
		label Users: 	
		select(name = "userId")
			for user in users
				option(value="#{user.id}") #{user.nName}
		br
		input(type="hidden",name="admincode", value="d0lph1n")
		input(type="submit", value="Login")
		br
		br
		br
		p CREATE A NEW USER
	form(name="input", action="/media/newUser", method="post")
		label Nickname: 
		input(type="hidden",name="admincode", value="d0lph1n")
		input(type="hidden",name="newUser", value="isNew")
		input(type="text", name="nn")
		input(type="submit", value="Submit")