extend layout
block contents
	form(name="input", action="/breaks/new", method="post", enctype="multipart/form-data")
		label Longitude: 
		input(type="text", name="longitude")
		br
		label Latitude: 
		input(type="text", name="latitude")
		br
		label Place name: 
		input(type="text", name="location_name")
		br
		label Story: 
		input(type="text", name="story")
		br
		label Headline: 
		input(type="text", name="headline")
		br
		label User ID:
		input(type="text", name="userId")
		br
		label Image: 
		input(type="file", name="image")
		br
		input(type="submit", value="Submit")