!!! 5
html
	head
		title Breakit - find out what's happening around you
		link(rel="stylesheet",href="/public/css/new_splash.css",type="text/css",media="screen")
		link(rel="stylesheet",href="/public/css/new_splash_fonts.css",type="text/css",media="screen")
		link(rel='icon', type='image/ico', href='public/images/logos/breakit.ico')
		meta(name="title", content="You’ll discover things going on around you that you’ve never heard about before, you’ll see things you’d normally miss. Breakit helps you to stay on top of your surroundings.")
		meta(name="apple-itunes-app", content="app-id=id601768872, affiliate-data=myAffiliateData, app-argument=itunes.apple.com/fi/app/id601768872)
		script(type='text/javascript')
			var _gaq = _gaq || [];
			
			_gaq.push(['_setAccount', 'UA-34204739-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body.photo-1
		.banner
			p.big 
				|Share and see what's happening nearby, <br />
				|right now.
			p.small
			form(action="/signup",method="post",name="signup")
				a(href='https://www.facebook.com/breakitapp')
					img(src='/public/images/signup/f_logo.png', style='height:90px;')
				a(href='https://twitter.com/Breakitapp')
					img(src='/public/images/signup/twitter.png', style='height:90px;, margin-left: 10px;')
				a(href='https://itunes.apple.com/fi/app/id601768872')
					img(src='/public/images/signup/appstore.png', style='float:right; margin-right: 40px; height: 90px;')
				br
			.iphone-5
				img(src="/public/images/signup/breakitPhone.png",e="e")
		.page-content
			ul.steps
				li.step-1
					h4 See something worth sharing?
					p See something that you want to share to more than just your friends?
				li.step-2
					h4 Breakit!
					p Snap a photo, add a headline & short story and press Breakit.
				li.step-3
					h4 Get instant reach for your story
					p Congratulations, you've now Breaked the story and it's out there for the world to see, starting with people nearby. You'll get instant feedback of how people react to your story
		.footer
			p Support: info@breakitapp.com
			p <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
		
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
		script(type="text/javascript")
			$(document).ready(function(e) {
				$(function(){
					if(navigator.appVersion.toLowerCase().indexOf("mac") !=-1){
						if(navigator.userAgent.toLowerCase().indexOf('firefox') !=-1){
							$(".banner h1").css("font-weight","100");
							$(".banner h2").css("font-weight","100");
							$("h3").css("font-weight","100");
						}
					}
					if(navigator.userAgent.toLowerCase().indexOf("chrome") !=-1){
						$("form select").css("background","white url(images/arrow.png) no-repeat right");
						$("form select").css("-webkit-appearance","none");
					}
				});
			});
