!!! 5
html
	head
		title Breakit beta-signup
		link(rel='stylesheet', href='/public/css/signup.css')
		link(rel='icon', type='image/ico', href='/images/logos/breakit.ico')
		meta(name="title", content="You’ll discover things going on around you that you’ve never heard about before, you’ll see things you’d normally miss. Breakit helps you to stay on top of your surroundings.")
		script(type='text/javascript')
			var _gaq = _gaq || [];

			_gaq.push(['_setAccount', 'UA-34204739-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body
		div#container
			div#signup_box
				div#breakit_logo
					img(src='/public/images/logos/logo_text.png')
			div#signup_tab
				h1 See what's happening around you!
				p Sign up for our beta and be the first to know!
				div#signup_form
					form(action='/signup', method='post', name='signup')
						label Email : 
						input(type='email', name='email', id='email', value='Enter your email')
						br
						label Select your phone :
						select(name='phone')
							option(value='iPhone') iPhone
							option(value='android') Android
							option(value='wm') Windows
						input(type='submit', value='Go', id='submit')
					div#hire
						a(href='http://www.arcticstartup.com/jobs/778') We're hiring!
