extend layout
block contents
	form(name="input", action="/test/userfeed", method="post")
		label userId: 
		input(type="text", name="userId")
		br
		label page: 
		input(type="text", name="page")
		br
		input(type="submit", value="Submit")