extend layout
block contents
	form(name="input", action="/albums/feed", method="post")
		label lon: 
		input(type="text", name="lon")
		br
		label lat: 
		input(type="text", name="lat")
		br
		label page: 
		input(type="text", name="page")
		br
		input(type="submit", value="Submit")