extend layout
block contents

	p View / modify user:
	
	form(name="input", action="/users/:id", method="put")
		label First name:
		input(type="text", name="fn", value='jee')
		br
		label Last name: 
		input(type="text", name="ln")
		br
		label Nickname: 
		input(type="text", name="nn")
		br
		label email: 
		input(type="text", name="em")
		br
		label Phone model: 
		select(name="ph")
			option(value="iPhone") iPhone
			option(value="Android") Android
		br
		input(type="submit", value="Submit")
		
	p
	
	form(name="input", action="/users/:id", method="delete")
		label Delete user?
		br
		input(type="submit", value="DELETE")
		
		
