!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/public/css/style.css')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		
		script(type="text/javascript")
			function makeCookie() {
			
				document.cookie = 'name=pete'
			
			}
			
	body(onload="makeCookie()")
		block contents
			form(name="input", action="/cookietest", method="post")
				label test1: 
				input(type="text", name="test1")
				br
				label cookie: 
				input(type="text", name="cookie")
				br
				input(type="submit", value="Submit")
		block footerscripts
