extend layout
block contents
	form(name="input", action="/breaks/enew", method="post", enctype="multipart/form-data")
		label CHOOSE LOCATION: 
		select(name = "location")
			option(value='location#24.83223594527063#60.1802242005334#Breakit HQ') Breakit HQ
			option(value='location#24.67801124000000#60.2069040000000#ESPOO') ESPOO
			option(value='location#22.96433700000000#59.8274340000000#HANKO') HANKO
			option(value='location#23.76504400000000#61.4985810000000#Kruunuhaka') Kruunuhaka
			option(value='location#24.95688900000000#60.1732390000000#Hietaniemi') Hietaniemi
			option(value='location#24.90376000000000#60.1632480000000#Lauttasaaren silta') Lauttasaaren silta
			option(value='location#22.28004500000000#60.459249#Turku') Turku
			option(value='location#22.100143#60.597082#Nousiainen') Nousiainen
			option(value='location#25.104003#60.401645#Kerava') Kerava
			option(value='location#25.266738#60.379933#Sipoo') Sipoo
			option(value='location#25.243907#60.339098#Hindsby') Hindsby
			option(value='location#25.445266#60.255699#Malmsjön') Malmsjön
			option(value='location#25.657654#61.007738#Lahti') Lahti
			option(value='location#24.5755#61.023709#Hämpton') Hämpton
			option(value='location#12.461014#41.897166#Rooma') Rooma
			option(value='location#2.350674#48.856132#Paris') Paris
			option(value='location#24.822993#60.285748#Vantaa') Vantaa
			option(value='location#24.801407#60.211851#Leppävaara') Leppävaara
									
		input(type="submit", value="Submit")
