extend layout
block contents
	h1 WEB INTERFACE FIRST MOCK-UP
	#web_interface
		for album in albums
			if album.breaks
				span(class="top_break")
					h2 test_headline
					p distance and other stuff here
					redirect = "'../p/"+album.breaks[0]+"'"
					img(src="/ios/picture/"+album.breaks[0], alt="break", onclick="location.href="+redirect)
					p vote buttons and other stuff here
					p story here