div#buttons
	div#replyForm
		form(name="input", action="/feedback/reply", method="post")
			label Reply 
			input(type="text", name="reply")
			br
			input(type="hidden", name="userId", value=feedback.user_id)
			input(type="hidden", name="feedbackId", value=feedback.id)
			input(type="submit", value="Submit", style="float:left;")
	div#removeForm
		form(name="remove", action="/feedback/remove", method="post")
			input(type="hidden", name="feedbackId", value=feedback.id)
			input(type="hidden", name="admincode", value="d0lph1n")
			input(type="submit", value="X", style="float:left;")