form(name="input", action="/feedback/reply", method="post")
	label Reply 
	input(type="text", name="reply")
	br
	input(type="hidden", name="userNick", value=feedback.user_id)
	input(type="submit", value="Submit")