extend ../layout
block contents

for report in reports
	p = "Report id: " + report._id + ", Break id: " + report.breakId + ", reported by User: " + report.userId
	img(src="/ios/picture/"+report.breakId+".jpeg") 