!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='../public/css/bootstrap.css')
		meta(name='viewport', content='width=device-width,initial-scale=1')
	body
		h2 1. Basic terms
		ol
			li You have to be 13 years or older to use Breakit.
			li You may not post sexually suggestive photos, or nude photos of any kind.
			li You may not harass or spam other Breakit users or impersonate them or transmit any worm or code of destructive nature.
			li You are responsible for keeping your password secure.
			li You are not allowed to hack our service or falsely imply that another site would be associated with Breakit.
			li You may not use Breakit for any illegal purposes.
			li All users have to take into consideration the laws in their own countries and only post acceptable and legal content.
			li You are not allowed to use web URLs in your nickname without permission from Breakit.
			li If you don't create an account or log in through the possibilities we are giving you, the recognition of your account will be done through the personal device ID number.
			li Violation of this agreement or any specific part of it can result in the termination of the users Breakit account, or the user being blocked out of the service for an unspecified time. Breakit tries to see that no offensive content would be shown on the service at any point, but you hereby accept that you may at some point see something offensive and that Breakit can not be held responsible for this. We hope that the users will flag such offensive or inappropriate content and in that way help us to build a better service.

		p 
			| Disclaimer of Warranties and Limitation of Liability including but not excluding:
			| The user is responsible for everything that happens in connection with the Breakit account.
			| Breakit does not take any responsibility for any direct or indirect losses that the user might have
			| because of a malfunction on the site, a photo disappearing or being deleted by accident from
			| the service.

		h2 2. Description of the service

		p 
			| Breakit is designed to share content of current things happening in public spaces. It functions
			| as a platform where you can view and share location based content (picture and story) using
			| a Breakit screen name that you choose yourself when first signing in to Breakit. When opening
			| the app it immediately locates you and shows content posted primarily close to your location
			| but you will also see other content on the basis of popularity. If you post content yourself, your
			| content will immediately be visible to other Breakit users nearby and possibly also further away
			| depending on the popularity of your content. Other users will also be able to rank your content
			| and comment it as well as share it to other social media outlets as a link (that will direct to
			| Breakit if clicked).

		h3 3. General Conditions

		p 
			| This Terms of Use agreement applies any time you use our App or visit our Site. By using
			| Breakit, you agree to these terms.

		p 
			| We deserve the right to change these terms of use at any point without any warning. Should
			| we make significant changes to the terms considering your personal information, we will make
			| reasonable effort to notify you of this change. You can at any point request us to remove your
			| account and information in it.

		p
			| The Breakit service can be modified or terminated for any reason at any time without any notice.
			| Breakit can terminate any username that violates trademark or is misleading users or becomes
			| inactive within 90 days.

		p
			| Breakit operates by the Notice and Take down principle, and will take down any material that
			| violates intellectual property rights if someone reports this to us. Breakit may also remove
			| content from the service that we consider offensive or that violates our terms of use, but we are
			| not obliged to do so.

		p We reserve the right to reclaim usernames that businesses or individuals have legal claim to.

		h2 4. Proprietary rights in content on Breakit and sharing content

		p 
			| Breakit does not operate by taking ownership to photos taken by users. The Breakit platform
			| takes wide rights of use to the photo and to use it accordingly to these terms of use. The wide
			| rights of use start when the user uploads a photo to Breakit. The wide right of use does not
			| mean that the user will get any form of monetary gains from posting content to the site; this is a
			| worldwide royalty-free license. The wide rights of use end when the user deletes the photo from
			| the Breakit service or terminates the user account. Breakit can not delete a photo from any third
			| party services (social media) it might have been shared to through our service, but the photo
			| can be deleted from the Breakit service.

		p
			| Breakit will have all rights to show all content made by a user in our own service. There might
			| be content on the Breakit service that is advertising or promotions of some kind, the user hereby
			| agrees that such content is being shown and can be shown in conjunction with the content the
			| user has put on the service. The user will not be notified in any way of this.

		p
			| Breakit contains content from also other users and partners to Breakit, and you may not sell,
			| copy, publish, broadcast, display etc. the content in any form that is not mentioned in this
			| agreement.

		p
			| If a user posts a photo to the Breakit service that violates anyone's rights in any way, and if
			| a user due to this posting get´s in any form of financial accountability to any party in form of
			| royalties, fees or just owing money the user is responsible of this.

		p
			| Breakit is not a backup service, we can not be held accountable for any loss of user content,
			| and we reserve the right to delete any content at any time for any reason. We may also store
			| the content deleted from the service if we believe that it could be necessary for a legal case.
			| Or if at some point our service unfortunately would not be available due to some maintenance
			| operations or failing telecommunications links that are not in our control Breakit can not be held
			| accountable for this.

		h2 5. Privacy

		p
			| The Breakit service is built on open location based information, for that reason you can't adjust
			| the privacy settings on your account. But as you have the possibility to use a nickname, it´s up
			| to you to decide if you want to reveal your real name or not.

		p
			| Breakit is not responsible if someone of your friends on Facebook or Twitter followers could
			| connect your nickname to the photo if you have e.g. shared it to your friends.

		p
			| Your personal account information will be stored safely, and Breakit will not disclose it to any
			| third party. By agreeing to these terms of use you give your consent for Breakit to use your
			| personal data for the purpose of developing the service further and to show content to you that
			| might interest you.

		p
			| By agreeing to these terms of use you give your consent for Breakit to use your location data
			| to produce content and your data can also be used to further develop the application. The
			| data is produced by the global positioning technology or wireless networks, and gives us your
			| location information in order for us being able to provide you with relevant content. Take into
			| consideration that if you decide to use your own name other Breakit users can see your location
			| when you upload photos to the site, and in this case Breakit is not responsible for your privacy
			| or any problem that might come out of that.

		p
			| By agreeing to these terms you also agree to the possibility for Breakit to store and move
			| personal information outside of the European Union.
